# Directories
/.Build/
/.cache/
/.idea/
/config/
/packages/autoload-tests/
/var/


# Files
.php-cs-fixer.cache
.phpunit.result.cache
composer.lock

# Directory patterns
/Tests/Fixtures/Extensions/*/Resources/Public/ContentBlocks
